a.navbar-brand {
    color: #FF0000;
    white-space: normal;
    text-align: left;
    font-size: 15px;
    /*    word-break: break-all;*/
}

.kiran-home {
    color: #FF00FF;
    font-size: 24px;
}
.img {
    text-align: center;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
